body {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/food.jpg');
}


/* Container centers content */
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 1rem;
    margin-top: 10vh;
}

/* Form card */
.custom-col {
    background: #ffffff;
    padding: 0.5rem 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease;
}

.custom-col:hover {
    transform: translateY(-3px);
}

/* Heading */
.custom-heading {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Form group spacing */
.custom-form-group {
    margin-bottom: 1.75rem;
}

/* Label styling */
.custom-label {
    font-weight: 800;
    color: linear-gradient(90deg, #ff7e5f, #feb47b) !important;
    display: block;
    margin-bottom: 0.5rem;
    font-family: system-ui;

}

/* Input styling */
.custom-input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border-radius: 10px !important;
    border: 1px solid #b39ddb;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 1rem;
}

.custom-input:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 0 3px rgba(17, 11, 28, 0.2);
}

/* Error message */
.custom-error {
    font-size: 0.875rem;
    color: #d32f2f;
    margin-top: 0.4rem;
}

/* Button styling */
.custom-register-btn {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin: 0 0 1rem;
}

.custom-register-btn:hover:not(:disabled) {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    transform: scale(1.02);
}

.custom-register-btn:disabled {
    background-color: #b2dfdb;
    cursor: not-allowed;
}

/* Ensure input field has equal left and right margins */
.custom-input {
    margin-left: auto;
    margin-right: auto;
}