<app-toast-notification #toastRef></app-toast-notification>
<div class="container mt-5 custom-container">
    <div class="row justify-content-center custom-row">
        <div class="col-md-6 card shadow-lg custom-col">
            <h2 class="text-center mb-4 custom-heading">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="custom-form">
                <div class="form-group mb-3 custom-form-group">
                    <label for="usernameOrEmail" class="form-label custom-label">Username or Email</label>
                    <input type="text" id="usernameOrEmail" class="form-control custom-input"
                        formControlName="usernameOrEmail" placeholder="Enter your username or email" />
                    <div *ngIf="loginForm.get('usernameOrEmail')?.invalid && loginForm.get('usernameOrEmail')?.touched"
                        class="text-danger custom-error">
                        Username or valid email is required.
                    </div>
                </div>

                <div class="form-group mb-3 custom-form-group">
                    <label for="password" class="form-label custom-label">Password</label>
                    <input type="password" id="password" class="form-control custom-input" formControlName="password"
                        placeholder="Enter your password" />
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="text-danger custom-error">
                        Password is required.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 d-block custom-register-btn"
                    [disabled]="loginForm.invalid">
                    Login
                </button>
            </form>
            <div class="text-center">
                <small>Forgot password? <a routerLink="/auth/forgot-password">Reset Password</a></small><br />
                <small>Don't have an account? <a routerLink="/auth/register">Register</a></small>
            </div>
        </div>
    </div>
</div>