<div class="container mt-5 custom-container">
    <div class="row justify-content-center custom-row">
        <div class="col-md-6 custom-col">
            <h2 class="text-center mb-4 custom-heading">Reset Password</h2>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="custom-form">
                <div class="form-group mb-3 custom-form-group">
                    <label for="password" class="form-label custom-label">Password</label>
                    <input type="password" id="password" class="form-control custom-input" formControlName="password"
                        placeholder="Enter your password" />
                    <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched"
                        class="text-danger custom-error">
                        Password is required.
                    </div>
                </div>
                <div class="form-group mb-3 custom-form-group">
                    <label for="password" class="form-label custom-label">Confirm Password</label>
                    <input type="password" id="password" class="form-control custom-input" formControlName="cnfpassword"
                        placeholder="Enter your password" />
                    <div *ngIf="resetPasswordForm.get('cnfpassword')?.invalid && resetPasswordForm.get('cnfpassword')?.touched"
                        class="text-danger custom-error">
                        Confirm Password is required.
                    </div>
                    <div *ngIf="(resetPasswordForm.get('password')?.value != resetPasswordForm.get('cnfpassword')?.value) && resetPasswordForm.get('cnfpassword')?.touched"
                        class="text-danger custom-error">
                        Passwords do not match.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 d-block custom-register-btn"
                    [disabled]="resetPasswordForm.invalid">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>